@import '../../../colors.scss';

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
}

#form-container {
  margin: 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#button-container {
  display: flex;
  justify-content: space-between;
}

#cancel-button {
  background-color: $primary-dark;
  color: #ffffff;
}

#ok-button {
  background-color: $secondary;
  color: #ffffff;
  float: right;
}

#loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loading-title {
  font-size: 35px;
  font-weight: 500;
}

#loading-spinner {
  padding: 20px;
}

#warning {
  font-size: 12px;
  color: $alert;
  padding-left: 5px;
}

#cont-row1 {
  display: flex;
  justify-content: space-between;
}

#cont-row1 .mat-form-field {
  width: 47%;
}

#cont-row2 {
  display: flex;
  // justify-content: space-between;
}

#cont-row2 .mat-form-field {
  width: 100%;
}

#cont-row3 {
  display: flex;
  justify-content: space-between;
}