<h1>Sign up</h1>
<div>
    <div>
        <div>Username</div>
        <input type="text" placeholder="username" [(ngModel)]="data.username">
        <div>First Name</div>
        <input type="text" placeholder="first name" [(ngModel)]="data.firstname">
        <div>Last Name</div>
        <input type="text" placeholder="last name" [(ngModel)]="data.lastname">
        <div>Password</div>
        <input type="text" placeholder="password" [(ngModel)]="data.password">
    </div>
    <div *ngIf="showWarning" id="warning">Please fill in required fields</div>
    <input type="submit" value="Sign up" (click)="registerUser()">

    <div>
        <a [routerLink]="['/login']">Already have an account? Login</a>
    </div>
</div>